.board {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    background-color: white;
    border: 4px solid #272626;
}

.square {
    width: 100px;
    height: 100px;
}

.board div:nth-child(16n+1),
.board div:nth-child(16n+3),
.board div:nth-child(16n+5),
.board div:nth-child(16n+7),
.board div:nth-child(16n+17),
.board div:nth-child(16n+19),
.board div:nth-child(16n+21),
.board div:nth-child(16n+23) {
    background-color: black;
}

.board div:nth-child(16n+10),
.board div:nth-child(16n+12),
.board div:nth-child(16n+14),
.board div:nth-child(16n+16),
.board div:nth-child(16n+21),
.board div:nth-child(16n+26)
{
    background-color: black;
}