body  {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(242, 204, 133);
    text-align: center;
    margin: 0;
    padding: 20px
}

h1{ 
    color: brown;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.product {
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px black;
}

.product img {
    width: 100%;
    border-radius: 5px;
}

.product h3 {
    font-size: 18px;
    margin: 10px 0 5px
}

.product a {
    text-decoration: none;
    color:brown;
}

.product a:hover{
    text-decoration: underline;
}

.price{
    font-weight: bold;
    text-decoration: underline;
    margin: 5px 0;
}

.desc {
    font-size: 14px;
}

.product:hover {
    transform: translateY(-5px);
}
footer{
    color: brown;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  
}